Repository clementlebas/marvel-comics-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn lint:css

Added prettier, eslint, stylelint configs
  .eslintrc.json
  .prettierrc
  .stylelintrc
  .vscode/settings.json
  package-lock.json
  package.json
  yarn.lock
Due: none

Added jest, react-testing-library configs
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/__tests__/Page.test.tsx
  src/app/page.tsx
  yarn.lock
Due: yarn lint:js

Updated Page look
  src/app/globals.css
  src/app/page.module.css
  src/app/page.tsx
Due: yarn lint:js, yarn lint:css

Added marvel characters list and selection
  package-lock.json
  package.json
  src/app/marvelCharacters.css
  src/app/marvelCharacters.tsx
  src/app/page.module.css
  src/app/page.tsx
  yarn.lock
Due: yarn lint:js, yarn lint:css

Added APIcalls and env
  src/app/APIcalls.tsx
  src/app/marvelCharacters.tsx
Due: yarn lint:js

Added Redux Toolkit
  package-lock.json
  package.json
  src/app/marvelCharacters.tsx
  src/app/page.tsx
  src/app/redux/appSlice.tsx
  src/app/redux/store.tsx
  yarn.lock
Due: yarn lint:js

Updated project structure
  next.config.js
  package-lock.json
  package.json
  src/__tests__/Page.test.tsx
  src/app/components/layout.tsx
  src/app/components/marvelCharacters.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/redux/store.tsx
  src/app/styles/globals.css
  src/app/styles/marvelCharacters.css
  src/app/styles/page.module.css
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/secondPage.tsx
  yarn.lock
Due: yarn lint:js, yarn lint:css

Added getScenario test with openai
  src/app/APIcalls.tsx
  src/pages/secondPage.tsx
Due: yarn lint:js

Added loading system with nprogress
  package-lock.json
  package.json
  src/app/components/layout.tsx
  src/app/components/marvelCharacters.tsx
  src/app/redux/appSlice.tsx
  src/app/styles/globals.css
  src/pages/secondPage.tsx
  yarn.lock
Due: yarn lint:js, yarn lint:css

Added board page look
  next.config.js
  src/app/components/marvelCharacters.tsx
  src/app/styles/boardPage.css
  src/pages/boardPage.tsx
  src/pages/secondPage.tsx
Due: yarn lint:js, yarn lint:css

Updated boardPage to sync with openai scenario
  src/app/components/marvelCharacters.tsx
  src/app/styles/boardPage.css
  src/pages/boardPage.tsx
Due: yarn lint:js, yarn lint:css

Updated styles of pages
  src/app/components/marvelCharacters.tsx
  src/app/styles/boardPage.css
  src/app/styles/globals.css
  src/app/styles/page.module.css
  src/pages/boardPage.tsx
  src/pages/index.tsx
Due: yarn lint:js, yarn lint:css

Added Marvel font
  public/fonts/Marvel-Regular.ttf
  src/app/styles/boardPage.css
  src/app/styles/globals.css
Due: yarn lint:css

Added redux Provider to _app
  src/app/components/layout.tsx
  src/pages/_app.tsx
Due: yarn lint:js

Start button disable if no selected characters
  package.json
  src/__tests__/Page.test.tsx
  src/app/APIcalls.tsx
  src/app/components/marvelCharacters.tsx
  src/app/styles/marvelCharacters.css
  src/pages/index.tsx
Due: yarn lint:js, yarn lint:css

Fixed some logic issue
  src/app/components/marvelCharacters.tsx
  src/pages/boardPage.tsx
Due: yarn lint:js

Added some lint modification
  src/__tests__/Page.test.tsx
  src/app/APIcalls.tsx
  src/app/components/layout.tsx
Due: yarn lint:js

Updated README.md
  .eslintrc.json
  README.md
Due: none

Added image for README.md
  README.md
  public/demo.png
  public/logo.png
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Updated eslint rules and clean warning
  .eslintrc.json
  src/app/components/marvelCharacters.tsx
  src/app/redux/store.tsx
  src/app/styles/marvelCharacters.css
  src/pages/boardPage.tsx
Due: yarn lint:js, yarn lint:css

Updated gitlab ci with --legacy-peer-deps
  .gitlab-ci.yml
  package-lock.json
  yarn.lock
Due: none

Updated gitlab ci with --legacy-peer-deps in test
  .gitlab-ci.yml
Due: none

Fixed stylelint error
  .stylelintrc
  package.json
  src/app/styles/boardPage.css
  src/app/styles/globals.css
  src/app/styles/marvelCharacters.css
  src/app/styles/page.module.css
Due: yarn lint:css

Added npm run test
  .gitlab-ci.yml
  package.json
Due: none

Fixed useless space between
  src/app/styles/page.module.css
Due: yarn lint:css

Added MSW init
  package-lock.json
  package.json
  src/__tests__/Page.test.tsx
  yarn.lock
Due: yarn lint:js

Path conditions:
  yarn lint:js: any of: *.{js,ts,tsx}
  yarn lint:css: any of: **/*.css
